body {
    background-color: #e0f7fa;
    color: #004d40;
}

.navbar, footer {
    background-color: #00796b;
}

.fishpic {
    border-radius: 14%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #004d40;
}

footer {
    margin-top: 15%;
    color: #e0f7fa;
}

#activities {
    padding: 7% 5%;
    position: relative;
    text-align: center;
}

.fonty {
    padding-bottom: 1.5rem;
    margin: auto;
}

.card-body {
    margin: auto;
    background-color: #b2dfdb;
    color: #004d40;
    border-radius: 10px;
}

.card-header {
    background-color: #b2dfdb;
    color: #004d40;
}

.btn-success {
    background-color: #004d40;
    border-color: #004d40;
    color: #e0f7fa;
}

.btn-outline-success {
    background-color: transparent;
    border-color: #004d40;
    color: #004d40;
}

.btn-outline-success:hover {
    background-color: #004d40;
    color: #e0f7fa;
}

h2, h3, .nav-link, .navbar-brand {
    color: #004d40;
}

.nav-link.active {
    color: #e0f7fa !important;
}
