body {
    background-color: #ffccbc;
    color: #4e342e;
}

.navbar, footer {
    background-color: #d84315;
}

.fishpic {
    border-radius: 14%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #bf360c;
}

footer {
    margin-top: 15%;
    color: #ffccbc;
}

#activities {
    padding: 7% 5%;
    position: relative;
    text-align: center;
}

.fonty {
    padding-bottom: 1.5rem;
    margin: auto;
}

.card-body {
    margin: auto;
    background-color: #ffe0b2;
    color: #4e342e;
    border-radius: 10px;
}

.card-header {
    background-color: #ffe0b2;
    color: #bf360c;
}

.btn-success {
    background-color: #bf360c;
    border-color: #bf360c;
    color: #ffccbc;
}

.btn-outline-success {
    background-color: transparent;
    border-color: #bf360c;
    color: #bf360c;
}

.btn-outline-success:hover {
    background-color: #bf360c;
    color: #ffccbc;
}

h2, h3, .nav-link, .navbar-brand {
    color: #bf360c;
}

.nav-link.active {
    color: #ffccbc !important;
}
